@import "tailwindcss";

:root {
  --background: #141414;
  --dark-20:#1F1F1F33;
  --secondary-dark:#1F1F1F;
  --light:#ECE8DF;
  --light-60:#ECE8DF99;
  --light-20:#ECE8DF33;
  --white:#FFFFFF;
  --dark-90:#1F1F1FE6;
}

@font-face {
  font-family: funnelBold;
  src: url("../public/fonts/FunnelSans-Bold.ttf");
}
@font-face {
  font-family: funnelMedium;
  src: url("../public/fonts/FunnelSans-Medium.ttf");
}
@font-face {
  font-family: funnelRegular;
  src: url("../public/fonts/FunnelSans-Regular.ttf");
}
@font-face {
  font-family: funnelSemiBold;
  src: url("../public/fonts/FunnelSans-SemiBold.ttf");
}

@theme inline{
  --text-heading2: 120px;
  --text-heading: 225px;
    --text-heading3: 72px;
    --text-heading4:168px;
  --text-p44: 44px;
  --text-p32: 32px;
  --text-p28: 28px;
  --text-p24: 24px;
  --text-p20: 20px;
  --text-p16: 16px;
  --text-p14: 14px;
 --color-background: var(--background);
  --color-secondary-dark: var(--secondary-dark);
  --color-dark-90: var(--dark-90);
  --color-dark-20: var(--dark-20);

  --color-light: var(--light);
  --color-light-60: var(--light-60);
  --color-light-20: var(--light-20);

  --color-white: var(--white);
   --font-bold: funnelBold, sans-serif;
  --font-semibold: funnelSemiBold, sans-serif;
  --font-medium: funnelMedium, sans-serif;
  --font-regular: funnelRegular, sans-serif;
}

body {
 background: var(--color-background);
  color: var(--color-light);
  font-family: var(--font-regular);
}
.nav-list li {
  transition: opacity 0.2s ease;
}
.nav-list:hover li{
  opacity: 0.64;
}
.nav-list li:hover{
opacity: 1;
}
.project-img-wrapper {
  height: var(--card-height);
}

@media (max-width: 640px) {
  .project-img-wrapper {
    height: 308px !important;
  }
}


